
<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_room.name %></p>
<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <%= link_to "ルームを作る", build_room_path %>
    <%= link_to "ルームに入る","_path" %>
    <%= link_to "ルームを探す","_path" %>
  </div>
</div>
<% end %>

